:root {
  --color-primario: #219ebc;
  --color-fondo: #caf0f8;
  --color-fondo-dark: #d4ecf9;
  --color-detalles: #8ecae6;
  --texto: #023047;
  --color-secundario: #ffc942;
  --color-terciario: #fb8500;
}

body {
  font-family: "Sour Gummy", sans-serif;
  margin: 0;
  padding: 1rem;
  color: var(--color-secundario);
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1018%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(33%2c 158%2c 188%2c 1)'%3e%3c/rect%3e%3cpath d='M 0%2c150 C 57.6%2c199 172.8%2c406.6 288%2c395 C 403.2%2c383.4 460.8%2c98.2 576%2c92 C 691.2%2c85.8 748.8%2c346 864%2c364 C 979.2%2c382 1036.8%2c142.8 1152%2c182 C 1267.2%2c221.2 1382.4%2c484.4 1440%2c560L1440 560L0 560z' fill='rgba(142%2c 202%2c 230%2c 1)'%3e%3c/path%3e%3cpath d='M 0%2c446 C 96%2c405.4 288%2c235.8 480%2c243 C 672%2c250.2 768%2c480.6 960%2c482 C 1152%2c483.4 1344%2c296.4 1440%2c250L1440 560L0 560z' fill='rgba(202%2c 240%2c 248%2c 1)'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1018'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
  background-size: cover;
  background-attachment: fixed;
  color: var(--texto);
}

.contenedor-principal {
  max-width: 800px;
  margin: 0 auto;
  padding: 1.5rem;
  background-color: #caf0f8d8;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.titulo-metodo {
  font-size: 2.5rem;
  color: var(--color-secundario);
  text-align: center;
  margin-bottom: 1rem;
}

.descripcion-metodo {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 1.5rem;
  text-align: justify;
}

.seccion-detalle {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

.imagen-metodo {
  width: 100%;
  max-width: 300px;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.informacion-metodo {
  flex-grow: 1;
}

.informacion-metodo h2 {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
  color: var(--color-primario);
}

.lista-ventajas {
  list-style-type: disc;
  padding-left: 20px;
}

.lista-ventajas li {
  font-size: 1.2rem;
}

.funciones-adicionales {
  margin-top: 1rem;
}

@media (max-width: 768px) {
  .seccion-detalle {
    flex-direction: column;
  }

  .titulo-metodo {
    font-size: 2rem;
  }

  .informacion-metodo h2 {
    font-size: 1.5rem;
  }
}

.seccion-implementacion {
  padding: 2rem;
  border: 2px solid var(--color-detalles);
}

.tablero-kanban {
  display: flex;
  gap: 20px;
}

.columna {
  border: 2px solid var(--color-detalles);
  border-radius: 8px;
  padding: 10px;
  width: 150px;
  background-color: var(--color-fondo-dark);
}

h3 {
  text-align: center;
  margin-bottom: 10px;
}

.tarjeta {
  background-color: var(--color-detalles);
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.seccion-metodo-6-tareas {
  display: flex;
  padding: 2rem;
  justify-content: space-between;
  flex-direction: column;
  border: 2px solid var(--color-detalles);
  border-radius: 8px;
}

input[type="text"] {
  margin: 0.3rem;
  padding: 0.6rem;
  border-radius: 4px;
  border: 1px solid var(--color-primario);
  background-color: var(--color-fondo-dark);
}

.seccion-pareto {
  margin-top: 20px;
  padding: 20px;
  border: 2px solid var(--color-detalles);
  border-radius: 8px;
  text-align: center;
}

.grafico-pareto {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.barra {
  background-color: var(--color-secundario);
  padding: 10px;
  text-align: left;
  border-radius: 5px;
}

.barra:nth-child(2) {
  background-color: var(--color-terciario);
}

.seccion-pomodoro {
  margin-top: 20px;
  padding: 20px;
  border: 2px solid var(--color-detalles);
  border-radius: 8px;
  text-align: center;
}

.grafico-pomodoro {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.pomodoro {
  background-color: rgba(21, 174, 185, 0.7);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.descanso {
  background-color: rgba(83, 195, 230, 0.7);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.descanso-largo {
  background-color: rgba(244, 67, 54, 0.7);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.seccion-seinfeld {
  margin-top: 20px;
  padding: 20px;
  border: 2px solid var(--color-detalles);
  border-radius: 0.25rem;
  text-align: center;
}

.calendario-seinfeld {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 5px;
  margin-top: 20px;
}

.dia {
  padding: 10px;
  background-color: var(--color-fondo);
  border: 1px solid var(--color-primario);
  border-radius: 4px;
  text-align: center;
}

.dia.completado {
  background-color: var(--color-primario);
  color: var(--color-fondo);
}
.boton {
  position: fixed;
  top: 1rem;
  left: 1rem;
  background-color: var(--color-detalles);
  color: var(--color-primario);
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}

.boton:hover {
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .boton {
    top: auto; 
    bottom: 1rem;
    left: 50%; 
    transform: translateX(-50%); 
    font-size: 0.8rem; 
    padding: 0.3rem 0.6rem; 
  }
}
